  mainColor = #FF8A00
  secondaryColor = #FFFAE6

    html {
      -webkit-text-size-adjust: 100%;
      font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
      line-height: 1.5;
      tab-size: 4;
      scroll-behavior: smooth;
      background-color: secondaryColor;
    }
    body {
      font-family: inherit;
      line-height: inherit;
      margin: 0;
    }
    h1,
    h2,
    p,
    pre {
      margin: 0;
    }
    *,
    ::before,
    ::after {
      box-sizing: border-box;
      border-width: 0;
      border-style: solid;
      border-color: currentColor;
    }
    h1,
    h2 {
      font-size: inherit;
      font-weight: inherit;
    }
    a {
      color: inherit;
      text-decoration: inherit;
      cursor: pointer;
    }
    pre {
      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    }
    svg {
      display: block;
      vertical-align: middle;
      shape-rendering: auto;
      text-rendering: optimizeLegibility;
    }
    pre {
      background-color: rgba(55, 65, 81, 1);
      border-radius: 0.25rem;
      color: rgba(229, 231, 235, 1);
      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
      overflow: scroll;
      padding: 0.5rem 0.75rem;
    }

    .shadow {
      box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }
    .rounded {
      border-radius: 1.5rem;
    }
    .wrapper {
      width: 100%;
    }
    .container {
      display: flex
      flex-direction: column
      position relative
      min-height: 650px;
      width: 1100px;
      border-radius: 4px;
      margin: 100px auto 0px;
      padding: 40px;
      // max-width: 1100px;
      // max-height: 550px;
      // padding-bottom: 3rem;
      // padding-left: 1rem;
      // padding-right: 1rem;
      background-color: white;
      color: rgba(55, 65, 81, 1);
      box-shadow: 2px 10px 20px rgba(255, 138, 0, 0.1);
      // width: 100%;
    }
    .progress-bar {
      background-color: secondaryColor;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      position: absolute;
      height: 70px;
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      top: -35px;
      border-radius: 35px;
    }
    .circleProgressBar {
      width: 35px
      height: 35px
      }
    .dark-orange {
      color: #FF8A00
      }
    .light-orange {
      color: #FFFAE6
      }
    .dark-orange-bg {
      background: #FF8A00
      }
    .light-orange-bg {
      background: #FFFAE6
      }
    .mainPaper {
      height: 100%
    }
    .horizontalSeparator {
      margin: 18px 0;
      background-color: #eff5f9;
      border-top: 1px solid #cbcbcb;
      border-bottom: 1px solid #cbcbcb;
    }
    .separator {
      border-left: 6px solid secondaryColor;
    }
    #rightMain {
      width: 300px
    }
    .deliveryLeft {
      flex: 1 1 325px;
      }
      .deliveryRight {
      flex: 1 1 270px
      }

    *, *:before, *:after {
      box-sizing: border-box;
    }

    widthLine = 10px
    widthArrow = 10px
    halfArrow = -(widthArrow/2)

    .arrow {
      width: widthLine;
      height: widthLine;
      margin: 0px 8px;
      display: inline-block;
      position: relative;

      &::before {
        content: '';
        display: block;
        width: widthArrow;
        height: widthArrow;
        top: 50%;
        left: 50%;
        border-style: solid;
        border-color: #000;
        border-width: 2px 2px 0 0;
        position: absolute;
        transform-origin: 50% 50%;
      }

      &.left::before { 
        transform: rotate(-135deg);
        margin: halfArrow 0 0 -10px;
      }
      &.up::before { 
        transform: rotate(-45deg); 
        margin: -10px 0 0 halfArrow;
      }
      &.down::before { 
        transform: rotate(135deg); 
        margin: -20px 0 0 halfArrow;
      }
      &.right::before { 
        transform: rotate(45deg); 
        margin: halfArrow 0 0 -20px;
      }
      
      &::after {
        content: '';
        display: block;
        top: 50%;
        left: 50%;
        border-style: solid;
        border-color: #000;
        position: absolute;
        transform-origin: 50% 50%;
      }
      
      &.left::after { 
        width: 16px;
        height: 0;
        border-width: 2px 0 0 0;
        transform: translate(-10px, -1px);
      }
      
      &.up::after { 
        width: 0;
        height: 16px;
        border-width: 0 2px 0 0;
        transform: translate(-1px, -10px);
      }
      
      &.down::after { 
        width: 0;
        height: 16px;
        border-width: 0 2px 0 0;
        transform: translate(-1px, -26px);
      }
      
      &.right::after { 
        width: 16px;
        height: 0;
        border-width: 2px 0 0 0;
        transform: translate(-26px, -1px);
      }
      
      &.circle {
        background: rgba(233,233,180,0.75);
        border-radius: 50px;
      }
      
      &.debug {
        outline: 1px solid darkblue;

        &::before {
          outline: 1px solid red;
        }
      }
    }